#portfolio .container {
/*    background-color: #eee;*/
    padding-top: 50px;
	padding-bottom: 50px;
/*    margin top: 50px;*/
}

#portfolio {
	background-color: #eee;
    width: 100%;
}

.shadow{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#line{
    background-color: black;
    color: #333;
    height: 1px;
    width: 30%;
    left: 35%;
    position: absolute;
}

.portfolio-modal {
	padding-left: 10% !important;
    padding-right: 10% !important;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
	
/*    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;*/
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 100%;
		max-height: 400px;
    margin: 0 auto;
}

.portfolio-link img{
	object-fit: cover;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    /*  background: rgba(254, 209, 54, 0.9);*/
/*    background-color: rgba(51, 124, 197, 0.7);*/
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#portfolio .portfolio-item .portfolio-caption h3 {
    text-transform: uppercase;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
/*    padding: 100px 0;*/
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 10px;
		padding: 10px;
}

.portfolio-modal .modal-content p.item-intro {
/*    margin: 20px 0 30px;*/
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
		
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}

.portfolio-modal .modal-content img {
/*    margin-bottom: 30px;*/
	padding-bottom: 10px;
	max-height: 300px;
}

.portfolio-modal .close-modal {
    position: relative;
    width: 55px;
    height: 45px;
    background-color: transparent;
    top: 15px;
    left: 80%;
    cursor: pointer;
    z-index: 2000;
	  padding-top: 20px;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    height: 25px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 25px;
    width: 1px;
    background-color: #222222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

::-moz-selection {
    text-shadow: none;
    background: rgba(51, 124, 197, 0.7);
}

::selection {
    text-shadow: none;
    background: rgba(51, 124, 197, 0.7);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
/*    webkit-tap-highlight-color: #fed136;*/
    webkit-tap-highlight-color: rgba(51, 124, 197, 0.7);
}
button{
    height: 50px;
/*    width: 120px;*/
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
/*	max-width: 80% !important;*/
	margin: auto !important;
}

/*
@media (min-width: 768px)
.container {
    width: auto !important;
}*/
.navbar-toggle {
	margin-right: 20px !important;
}

.navbar-brand {
	padding: 0px !important;
}
