<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 title">
                    <h1 class="brand-heading">Jump To Work</h1>

                    <p class="intro-text">Create new possibilities</p>
                    <!--
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container text-center">
    <div class="row">
        <div class="">
            <h2>About JumpToWork</h2>
            <p>Jump To Work has internship, jobs, thesis offers from companies to students and marketing profiles for schools globally. Creating reliable and strong connections for educational, commercial purposes and advancing in career is no longer difficult. The following links direct to job board, school directory and contact platform.</p>


        </div>
    </div>
</section>

<!-- Services Section -->
<!--
    <div id="services" class="  ">
        <div class="services-section">
            <div class="container">
                <div class=" ">
                    <h2>Our Services</h2>
                    <p style="strong">We provide services for Student, Company, and University</p>

                </div>
            </div>
        </div>
    </div>
-->

<!--    Student-->
<div id="portfolio" class=" ">
    <div class="container center-box-vertical">
        <div class="text-center">
            <h1>OUR SERVICES</h1>
            <h4>What We Doing</h4>
            <p>
                We provide services for Student, Company, and University
            </p>
        </div>
        <div id="line" class="text-center">
        </div>
        <br>
        <br>
<!--        <h2 class="text-center">FOR STUDENT</h2>-->
        <div class=" ">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="shadow">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">

                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>

                    <img src="../../img/student1.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h3>Student</h3>
                    <p class="text-muted">Seeking Job</p>
                </div>
                    </div>
            </div>

            <div class="col-md-6 col-sm-6 portfolio-item">
                <div class="shadow">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="../../img/student2.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h3>Student</h3>
                    <p class="text-muted">Looking for School</p>
                </div>
            </div>
                </div>
        </div>
        <!--
    <div class="background-desc1 pad">
        <div class="container">
            <a href="http://jumptowork.com/students">
            <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4 pic-desc">
                <img class="img-responsive" src="img/student.jpg" alt="student">
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8 text-desc">

                <h2>STUDENTS</h2>
                <p>Students can search and apply for different job positions in our JobBoard. Thesis work possibility is available too. Jump To Work also provides School Directory which has information about higher educational institutions around the world.</p>

            </div>
                </a>
        </div>
    </div>
-->
  <div>
        <!--        COMPANIES-->
<!--        <h2 class="text-center">FOR COMPANY</h2>-->
        <!--        <div class=" ">-->
        <div class="col-md-6 col-sm-6 portfolio-item">
            <div class="shadow">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">

                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>

                <img src="../../img/company.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h3>Company</h3>
                <p class="text-muted">bla bla bla </p>
            </div>
                </div>
        </div>
        <!--        </div>-->
        <!--
 <div class="background-desc black-overlay pad">
        <div class="container">
            <a href="http://jumptowork.com/connect">
            <div style="float: right" class="col-xs-12 col-md-4 col-lg-4 col-sm-4 pic-desc">
                <img class="img-responsive" src="img/comp.jpg" alt="companies">

            </div>
            <div style="float: right" class="col-xs-12 col-md-8 col-lg-8 col-sm-8 text-desc text-right">

                <h2>COMPANIES</h2>
                <p>Jump To Work assists companies’ recruitment process by creating opportunities to advertise job positions. Having access to our CV bank and reaching the best talents are undeniably beneficial. Collaboration with global schools is also worth-trying</p>

            </div>
                </a>
        </div>
    </div>
-->

<!--        <h2 class="text-center">FOR EDUCATION</h2>-->
        <!--        SCHOOLS-->
        <!--        <div class=" ">-->
        <div class="col-md-6 col-sm-6 portfolio-item">
            <div class="shadow">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">

                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>

                <img src="../../img/school.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h3>School</h3>
                <p class="text-muted">bla bla bla </p>
            </div>
                </div>
        </div>

        <!--
    <div class="background-desc1 pad">
        <div class="container">
            <a href="http://jumptowork.com/connect">
            <div class="col-xs-12 col-md-4 col-lg-4 col-sm-4 pic-desc">
                <img class="detail-left img-responsive" src="img/school.jpg" alt="school">
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8 text-desc">

                <h2>SCHOOLS</h2>
                <p>Schools are enabled to introduce job positions in our JobBoard to their students. Our School Directory develops schools’ abilities to market themselves to prospective students globally. Connecting with international companies for further cooperation is another enormous benefit as well</p>

            </div>
                </a>
        </div>
    </div>
-->

                </div>


    </div>
</div>

<!--Our vision section-->

<div class="about2">
    <div class="container-about2">
        <div class="title-name2 text-center"> OUR VISIONS </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6 container-about">
                <div><img src="../../img/3-layers.png"></div>
                <div class="text-center content-about2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6 container-about">
                <div><img src="../../img/4-layers.png"></div>
                <div class="text-center content-about2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Anything you want to say here</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../../img/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Bang Nguyen</h4>
                    <p class="text-muted">Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../../img/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Who knows</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../../img/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tuomo Suonkoski</h4>
                    <p class="text-muted">Team Manager</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Summarize about our team</p>
            </div>
        </div>
    </div>
</section>


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Student seeking job</h2>
                            <p class="item-intro text-muted">Are you looking a dream job?</p>
                            <img class="img-responsive img-centered" src="../../img/student1.jpg" alt="student">
                            <p>Are you looking for a job/ internship/ thesis work and do not know where to start? With Jump To Work you can search and apply for many positions freely and internationally.
                            </p>
                            <!--
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of
                                    <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
-->
                            <!--
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Click here and let us lead you to our Job board</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Student seeking education</h2>
                            <p class="item-intro text-muted">Are you looking for higher Education?</p>
                            <img class="img-responsive img-centered" src="../../img/student2.jpg" alt="">
                            <p>
                                <!--                                    <a href="http://designmodo.com/startup/?u=787">Startup Framework</a> -->
                                If you want to check future studies, please visit our school directory here. All basic information is available for you without any charges.</p>
                            <!--                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Student seeking education</h2>
                            <p class="item-intro text-muted">Are you looking for higher Education?</p>
                            <img class="img-responsive img-centered" src="../../img/student2.jpg" alt="">
                            <p>
                                <!--                                    <a href="http://designmodo.com/startup/?u=787">Startup Framework</a> -->
                                If you want to check future studies, please visit our school directory here. All basic information is available for you without any charges.</p>
                            <!--                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Student seeking education</h2>
                            <p class="item-intro text-muted">Are you looking for higher Education?</p>
                            <img class="img-responsive img-centered" src="../../img/student2.jpg" alt="">
                            <p>
                                <!--                                    <a href="http://designmodo.com/startup/?u=787">Startup Framework</a> -->
                                If you want to check future studies, please visit our school directory here. All basic information is available for you without any charges.</p>
                            <!--                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
