<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			
				<div class="col-md-8 col-md-offset-2 title">
					<h1 class="brand-heading">Jump To Work</h1>

					<p class="intro-text">Create new possibilities</p>
					<!--
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
-->
				</div>
			
		</div>
	</div>
</header>

<!-- About Section -->
<section id="about" class="container-about text-center">
	
		<div style="width: 100%;">
			<h1>About JumpToWork</h1>
			<p style="text-align: justify">Jump To Work has internship, jobs, thesis offers from companies to students and marketing profiles for schools globally. Creating reliable and strong connections for educational, commercial purposes and advancing in career is no longer difficult. The following links direct to job board, school directory and contact platform.</p>


		</div>
	
</section>


<!--    Student-->
<div id="portfolio" class=" ">
	<div class="container-about center-box-vertical">
		<div class="text-center" style="width: 100%;">
			<h1>OUR SERVICES</h1>
			<!--			<h4>What We Doing</h4>-->
			<p>
				We provide services for Students, Companies, and Universities
			</p>
			<div id="line" class="text-center">
			</div>
		</div>

		<br>
		<br>
		<!--        <h2 class="text-center">FOR STUDENT</h2>-->
		<div class=" ">
			<div class="col-md-6 col-sm-6 portfolio-item">
				<div class="shadow">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>

						<img src="../../img/student1.jpg" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h3>Student</h3>
						<p class="text-muted">Seeking Job</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 portfolio-item">
				<div class="shadow">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>
						<img src="../../img/student2.jpg" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h3>Student</h3>
						<p class="text-muted">Looking for School</p>
					</div>
				</div>
			</div>
		</div>

		<div>

			<div class="col-md-6 col-sm-6 portfolio-item">
				<div class="shadow">
					<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>

						<img src="../../img/company.jpg" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h3>Company</h3>
						<p class="text-muted">Looking for talents </p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 portfolio-item">
				<div class="shadow">
					<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">

						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div>

						<img src="../../img/school.jpg" class="img-responsive" alt="">
					</a>
					<div class="portfolio-caption">
						<h3>School</h3>
						<p class="text-muted">Marketing your school here</p>
					</div>
				</div>
			</div>


		</div>


	</div>
</div>

<!--Our vision section-->

<div class="about2">
	<div class="container-about2">
		<!--
		<div class="title-name2 text-center"> OUR VISIONS
		</div>
-->
		<h1>OUR VISION</h1>
		<div class="row container text-center">
			<p style="text-align: justify">The cornerstone of Jump To Work is assisting students’ study & career paths with a variety of educational institutions as well as job offers while increasing companies’ capacities for recruiting new talents and promoting schools universally. Our mission is to facilitate the (connection and ) cooperation between students, schools and companies globally.</p>

		</div>
	</div>
</div>

<!-- Team Section -->
<!--
<section id="team" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Our Amazing Team</h2>
				<h3 class="section-subheading text-muted">Anything you want to say here</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="team-member">
					<img src="../../img/1.jpg" class="img-responsive img-circle" alt="">
					<h4>Bang Nguyen</h4>
					<p class="text-muted">Developer</p>
					<ul class="list-inline social-buttons">
						<li><a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="team-member">
					<img src="../../img/2.jpg" class="img-responsive img-circle" alt="">
					<h4>Who knows</h4>
					<p class="text-muted">Lead Marketer</p>
					<ul class="list-inline social-buttons">
						<li><a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="team-member">
					<img src="../../img/3.jpg" class="img-responsive img-circle" alt="">
					<h4>Tuomo Suonkoski</h4>
					<p class="text-muted">Team Manager</p>
					<ul class="list-inline social-buttons">
						<li><a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">Summarize about our team</p>
			</div>
		</div>
	</div>
</section>
-->


<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			
			<div style="width: auto" class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<!-- Project Details Go Here -->
							<h2>Student seeking job</h2>
							<p class="item-intro text-muted">Are you looking for a dream job?</p>
							<img class="img-responsive img-centered" src="../../img/student1.jpg" alt="student">
							<p>Are you looking for a job, internship, or thesis work and do not know where to start? With Jump To Work you can search and apply for many positions freely and internationally.
							</p>

							<button type="button" class="btn btn-primary"><a style="color:white" href="https://jumptowork.com/jobs/">Open Job portal</a> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			
			<div style="width: auto" class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Student seeking education</h2>
							<p class="item-intro text-muted">Are you looking for Higher Education?</p>
							<img class="img-responsive img-centered" src="../../img/student2.jpg" alt="">
							<p>
								If you want to find your dream school, please visit our school portal here. All basic information is available for you without any charges. You can search for schools globally</p>

							<button type="button" class="btn btn-primary"><a style="color:white" href="https://jumptowork.com/schools/">Open School portal</a> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			
			<div style="width: auto" class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Looking for new Talents?</h2>
							<p class="item-intro text-muted">Recruiting new employee</p>
							<img class="img-responsive img-centered" src="../../img/company.jpg" alt="">
							<p style="text-align: justify">
								If you want to find new talents especially from the best students around the world you are at the right place. Jump To Work assists companies’ recruitment process by creating opportunities to advertise job positions. Having access to our CV bank and reaching the best talents are undeniably beneficial. Collaboration with global schools is also worth-trying.

							</p>

							<button type="button" class="btn btn-primary"><a style="color:white" href="https://jumptowork.com/jobs/">Open Job portal</a> </button>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			
			<div style="width: auto" class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2 style="margin-bottom: 30px;">Marketing your school</h2>
<!--							<p class="item-intro text-muted">Do it globally</p>-->
							<img class="img-responsive img-centered" src="../../img/school.jpg" alt="">
							<p style="text-align: justify">
								Our School Portal develops schools abilities to market themselves to prospective students globally. Connecting with international companies for further cooperation is another enormous benefit as well. JumpToWork Job Board supports schools in providing workplacement opportunities for their students, thus enhance teaching efficiency.</p>
							<!--                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>-->
							<button type="button" class="btn btn-primary"><a style="color:white" href="https://jumptowork.com/schools/">Open School portal</a> </button>
							<br>

							<!--                            <button style="margin-left:-6px; margin-top:10px" type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times"></i> </button>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>